@use "sass:list";
@use "sass:math";
@use './variables' as *;
@use './functions' as *;

$ratio: list.slash($ui-width, $ui-height);

@mixin widescreen {
  @media screen and (max-aspect-ratio: $ratio) {
    & {
      @content;
    }
  }
}

@mixin res-size($args...) {
  & {
    @each $property, $px in keywords($args) {
      #{$property}: px2vh($px);
    }
  }
  @include widescreen {
    @each $property, $px in keywords($args) {
      #{$property}: px2vw($px);
    }
  }
}

@mixin px2rem($prop, $values...) {
  $max: length($values);
  $remValues: "";

  @for $i from 1 through $max {
    $value: nth($values, $i);

    @if (type-of($value) == string) or ($value == 0) {
      $remValues: #{$remValues + $value};
    } @else {
      $remValues: #{$remValues + parseInt($value) * 0.01}rem;
    }

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }
  #{$prop}: $remValues;
}

@mixin _px2vh($prop, $values...) {
  $max: length($values);
  $vhValues: "";

  @for $i from 1 through $max {
    $value: nth($values, $i);

    @if (type-of($value) == string) or ($value == 0) {
      $vhValues: #{$vhValues + $value};
    } @else {
      $vhValues: #{$vhValues + math.div(parseInt($value), $ui-height) * 100}vh;
    }

    @if $i < $max {
      $vhValues: #{$vhValues + " "};
    }
  }
  #{$prop}: $vhValues;
}

@mixin _px2vw($prop, $values...) {
  $max: length($values);
  $vwValues: "";

  @for $i from 1 through $max {
    $value: nth($values, $i);

    @if (type-of($value) == string) or ($value == 0) {
      $vwValues: #{$vwValues + $value};
    } @else {
      $vwValues: #{$vwValues +
        math.div(parseInt($value), ($ui-width * 0.01))}vw;
    }

    @if $i < $max {
      $vwValues: #{$vwValues + " "};
    }
  }
  #{$prop}: $vwValues;
}

@mixin cspx($prop, $values...) {
  @include _px2vh($prop, $values...);
  @include widescreen {
    @include _px2vw($prop, $values...);
  }
}

@mixin _ipx2vh($prop, $proportion, $values...) {
  $max: length($values);
  $vhValues: "";

  @for $i from 1 through $max {
    $value: nth($values, $i);

    @if (type-of($value) == string) or ($value == 0) {
      $vhValues: #{$vhValues + $value};
    } @else {
      $vhValues: #{$vhValues +
        $proportion *
        math.div(parseInt($value), $ui-height) *
        100}vh;
    }

    @if $i < $max {
      $vhValues: #{$vhValues + " "};
    }
  }
  #{$prop}: $vhValues;
}

@mixin _ipx2vw($prop, $proportion, $values...) {
  $max: length($values);
  $vwValues: "";

  @for $i from 1 through $max {
    $value: nth($values, $i);

    @if (type-of($value) == string) or ($value == 0) {
      $vwValues: #{$vwValues + $value};
    } @else {
      $vwValues: #{$vwValues +
        $proportion *
        math.div(parseInt($value), ($ui-width * 0.01))}vw;
    }

    @if $i < $max {
      $vwValues: #{$vwValues + " "};
    }
  }
  #{$prop}: $vwValues;
}

@mixin cispx($prop, $proportion, $values...) {
  @include _ipx2vh($prop, $proportion, $values...);
  @include widescreen {
    @include _ipx2vw($prop, $proportion, $values...);
  }
}

@mixin customGap($prop, $values...) {
  &:not(:last-child) {
    @include cspx($prop, $values...);
  }
}

@mixin cisGap($prop, $proportion, $values...) {
  &:not(:last-child) {
    @include cispx($prop, $proportion, $values...);
  }
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($name, $time: 1s, $ease: ease-out, $fillmode: backwards) {
  animation: $name $time $ease $fillmode;
  -moz-animation: $name $time $ease $fillmode;
  -webkit-animation: $name $time $ease $fillmode;
  -o-animation: $name $time $ease $fillmode;
}

@mixin ellipsis-line($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
